<br>
<br>
<% if user_signed_in? %>

<table class="table table-striped table-bordered">
  <thead class="table-dark">
    <tr>
      <th>Isbn</th>
      <th>Book title</th>
      <th>Language book</th>
      <th>Number pages</th>
      <th>User Id</th>
      <th>Book </th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <% if book.user == current_user %>
        <tr>
          <td><%= link_to book.Book_title ,book%></td>        
          <td><%= book.Isbn %></td>
          <td><%= book.language_book %></td>
          <td><%= book.number_pages %></td>        
          <td><%= book.user_id %></td>
          <td><%= link_to '    Book information', book , class:"btn btn-dark" %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Book', new_book_path , class:"btn btn-dark" %>

<% else %>
<% end %>

